{% extends '::base.html.twig' %}

{% block title %}
    {{ 'ccc.email-template.select email template demo'|trans({}, 'CCCEmailTemplate') }}
{% endblock %}

{% block body -%}

    {% block form %}

    <legend>{{ 'ccc.email-template.select email template demo'|trans({}, 'CCCEmailTemplate') }}</legend>
    {{ form_row(form.email_template) }}
    
    {% endblock %}

    <p>
        <a href="{{ path('ccc_email_template') }}">
            {{ 'ccc.email-template.back to list'|trans({}, 'CCCEmailTemplate') }}
        </a>
    </p>
{% endblock %}